body, html, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

.ui-overlay {
    position: absolute; top: 20px; left: 20px; z-index: 1000;
    display: flex; flex-direction: column; gap: 5px;
}

.btn {
    padding: 10px 20px; cursor: pointer; border: none; 
    border-radius: 5px; font-weight: bold; color: white;
    transition: 0.3s;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.menu-button-ops{
    padding: 10px 20px; cursor: pointer; border: none; 
    border-radius: 5px; font-weight: bold; color: rgb(0, 0, 0);
    transition: 0.3s;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}
.menu-button {
    padding: 10px 20px; cursor: pointer; border: none; 
    border-radius: 5px; font-weight: bold; color: white;
    transition: 0.3s;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.btn-navy { background: #000080; }
.btn-dark { background: #2c3e50; }

@media screen and (max-width: 768px) {
    .menu-button-ops{
        padding: 10px 20px; 
        font-size: 12px;
        margin: 5px;
        width: 80%;
        display: block;
    }

    .btn {
        padding: 10px 20px; /* Area klik lebih luas */
        font-size: 12px;    /* Tulisan lebih besar */
        margin: 5px 5px;   /* Jarak antar tombol agar tidak salah tekan */
        width: 50%;         /* Opsional: Tombol melebar hampir memenuhi layar */
        display: block;     /* Membuat tombol berderet ke bawah */
    }

    .menu-button {
        padding: 10px 20px; /* Area klik lebih luas */
        font-size: 12px;    /* Tulisan lebih besar */
        margin: 5px 5px;   /* Jarak antar tombol agar tidak salah tekan */
        width: 50%;         /* Opsional: Tombol melebar hampir memenuhi layar */
        display: block;     /* Membuat tombol berderet ke bawah */
    }
    /* Jika tombol berada dalam satu container/wadah */
    #toolbar {
        top: 10px;
        left: 50%;
        transform: translateX(-50%); /* Posisikan di tengah atas layar HP */
        width: 100%;
        text-align: center;
    }
    .chart-wrapper {
        height: 80px; /* Lebih pendek di HP */
    }
}

#toolbar-info {
    background-color: rgba(255, 255, 255, 0.8);
    color: black; border: 1px solid #333;
    border-radius: 10px; padding: 8px;
    font-family: sans-serif; pointer-events: none;
}

#chartContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); /* Putih transparan */
    z-index: 1000;
    display: none; /* Muncul hanya saat ada data */
    padding: 2px;
    box-sizing: border-box;
    border-top: 2px solid #ccc;
    max-height: 80;
    overflow-y: auto;
}

.chart-wrapper {
    position: relative;
    width: 100%;
    height: 200px; /* Tinggi default desktop */
}

#cesiumContainer {
    touch-action: none; /* Mencegah browser melakukan scroll saat kita menyentuh map */
}

